*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-print-color-adjust: exact;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    margin: 1rem 2rem 0 2rem;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
iframe{
    height: 25rem;
    width: 90%;
}
.categories{
    display: flex;
}
.categories .category:not(:first-child){
    margin-left: 1rem;
}
.category{
    font-size: 0.6rem;
    background-color: bisque;
    padding: 0.3rem 0.5rem;
}
.bookmark{
    font-family: 'Poppins', sans-serif;
    padding: 2rem 1.5rem 0 1.5rem;
}
.title{
    font-size: 1.25rem;
    padding: 0.5rem 0;
}
.title a{
    color: black;
    text-decoration: none;
}
label{
    width: fit-content;
    background-color: #bfcaff;
    margin: 2rem 2rem 3rem 2rem;
    padding: 0.6rem 4rem;
    border: 0.1rem solid transparent;
    border-radius: 0.5rem;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    transition: background-color 0.25s ease-in-out, border 0.2s ease-in-out;
}
label:hover{
    cursor: pointer;
    border: 0.1rem solid #5f7cff;
    background-color: #a4b4ff;
}
#pdf_download{
    margin: 3rem 2rem;
    padding: 0.5rem 2rem;
    background-color: #c1e8ff;
    border: 0.1rem solid transparent;
    border-radius: 0.4rem;
    font-family: 'Poppins', sans-serif;
    transition: background-color 0.25s ease-in-out, border 0.2s ease-in-out;
}
#pdf_download:hover{
    cursor: pointer;
    border: 0.1rem solid #4ebeff;
    background-color: #9adaff;
}